@tailwind base;
@tailwind components;
@tailwind utilities;

.te-carousel-control {
  color: white; /* Ubah warna panah sesuai kebutuhan */
  background-color: rgba(0, 0, 0, 0.5); /* Tambahkan latar belakang agar panah terlihat lebih jelas */
  border-radius: 50%;
  padding: 0.5rem; /* Padding untuk panah */
}

.te-carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Ubah latar belakang saat hover */
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
